.BusinessCard img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  box-shadow: 0 5px 10px -7px grey;
}

.BusinessCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BusinessCard p {
  margin-block: .5rem;
  font-size: 0.75rem;
}

.BusinessInfo {
  display: flex;
  justify-content: space-between;
}

.BusinessAddress,
.BusinessReviews {
  align-self: end;
}

.BusinessReviews {
  color: rgb(189, 162, 11);
  text-align: right;
}

.BusinessCategory {
  text-transform: uppercase;
  font-weight: 800;
}