.SearchBar {
  background-image: url("/searchbar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.SearchBar::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .25);
  z-index: -1;
}

.SearchBarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 400px;
}

.SearchBarSortByBtns {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.SearchBarSortByBtn {
  background: none;
  border: solid 2px white;
  font-size: .75rem;
  color: white;
  cursor: pointer;
  padding: 8px;
  flex: 1;
  transition: all .2s ease-out;
  border-radius: 2px;
}

.SearchBarInputs {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.SearchBarInput {
  font-size: 1.25rem;
  padding: 10px;
  border: none;
  background: none;
  border-bottom: solid 2px white;
  width: 100%;
  color: white;
}

.SearchBarInput::placeholder {
  font-size: 1rem;
  color: rgb(232, 232, 232);
}

.SearchBarInput:focus {
  outline: none;
}

.SearchBarSortByBtnActive {
  background: white;
  color: black;
}

.SearchBarSubmitBtn {
  background-color: goldenrod;
  color: brown;
  border: none;
  padding: 15px 20px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px rgb(171, 131, 30);
  text-transform: capitalize;
  box-shadow: 0 10px 15px -10px black;
  transition: all .125s;
}

.SearchBarSubmitBtn:active {
  transform: translateY(5px);
  box-shadow: 0 5px 15px -10px black;
}